name: Perform pre-commit checks

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  prek:
    name: prek
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Install the project
      run: |
        uv sync --locked --all-extras --dev
        uv tool install prek

    - name: Load pre-commit hooks cache
      uses: actions/cache@v4
      with:
        path: ~/.cache/prek
        key: prek-${{ runner.os }}-${{ hashFiles('.pre-commit-config.yaml') }}

    - name: RUN PREK
      run: |
        SKIP=no-commit-to-branch prek run --show-diff-on-failure --color=always --all-files
